
/* Styles for the footer */
.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    font-family: Arial, sans-serif;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.social-media {
    margin-bottom: 20px;
}

.social-icon {
    margin: 0 10px;
    display: inline-block;
}

.social-icon img {
    width: 24px;
    height: 24px;
}

.contact-button {
    margin-bottom: 50px;
}

.button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.button:hover {
    background-color: #0056b3;
}

.footer-bottom {
    font-size: 14px;
}

.footer-bottom p {
    margin: 10px 0px;
}

.social {
    font-size: 1.5rem;
    color: white;
    padding: 10px;
    margin-bottom: 15px;
    transition: color 0.5s ease;
}

#tw:hover {
    color: #9b9b9b;
}

#insta:hover{
    color: #C13584
;
}

#linkedin:hover{
    color: #0077B5
    ;
}
